body {
	margin: 0px;
	font-family: sans-serif;
}

header {
	padding: 10px 20px;
	color: #fff;
	background: #444;
}

header h1 {
	margin: 0px;
}

header img.loader {
	display: none;
	float: right;
	width: 42px;
	height: 42px;
}

header img.loader.visible {
	display: block;
}

.wrapper {
	margin: 0 auto;
	width: 800px;
	max-width: 100%;
}

.wrapper.full {
	width: 100%;
}

.areas {
	padding: 10px 20px;
	background: #bcd;
}

.area-list {
	display: none;
}

.area-list.visible {
	display: block;
}

.area-list .new-area {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #fff;
}

.areas button, .areas input[type="submit"] {
	margin: 5px;
	padding: 5px;
	color: #444;
	background: #fff;
	border: none;
}

.areas button.active {
	color: #fff;
	background: #444;
}

.areas .area {
	display: block;
}

.areas .area .update-wrapper {
	display: none;
}

.areas .area .update-wrapper.visible {
	display: block;
}

.tasks {
	position: relative;
}

.tasks h2 {
	margin: 0px;
	padding: 10px 20px;
	font-size: 20px;
	line-height: 20px;
	color: #fff;
	background: #444;
}

.tasks .flex-task-wrapper {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
	background: #fff;
}

.tasks .task-wrapper {
	display: block;
	margin: 20px 0px;
	width: 100%;
	max-width: 280px;
}

.tasks .task {
	display: block;
	margin: 20px;
	margin-bottom: 1px;
	color: #fff;
	background: #36b;
	border-radius: 4px;
	border: 1px solid #358;
	box-shadow: 0px 0px 1px 1px #338;
	overflow: hidden;
}

.tasks .task .id {
	display: none;
}

.tasks .task .editable {
	display: block;
	padding: 5px 10px;
	min-height: 1em;
	color: #444;
	background: #fff;
}

.tasks .task .editable .text {
	display: block;
	min-height: 1em;
}

.tasks .task .editable.name {
	font-weight: bold;
	color: #444;
	background: rgba(255, 255, 255, 0.85);
	border-bottom: 2px solid #ddd;
}

.tasks .task .editable.description {
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.tasks .task .editable.content {
	color: #333;
	background: #efefef;
}

.tasks .task .editable.content .text {
	min-height: 8em;
}

.tasks .task .editable.extension {
	color: #fff;
	background: #333;
}

.tasks .task:hover {
	box-shadow: 0px 0px 3px 2px #444;
}

.tasks .toolbar {
	position: relative;
	text-align: right;
	background: #fff;
	border-bottom: 1px solid #bbb;
	box-shadow: 0px 1px 1px #ddd;
	z-index: 1;
}

.tasks .toolbar button.action {
	padding: 5px 10px 5px 40px;
	border: 0px;
	background: #fff;
	cursor: pointer;
}

.tasks .toolbar button.action:hover {
	background-color: #eee;
}

.tasks .toolbar button.new-task {
	background: #fff url("icons/new.svg") no-repeat 5px center;
	background-size: 24px;
}

.tasks .toolbar button.refresh-task {
	background: #fff url("icons/refresh.svg") no-repeat 5px center;
	background-size: 24px;
}

.tasks .task button.delete {
	float: right;
	margin: 4px;
	width: 24px;
	height: 24px;
	font-size: 0px;
	border: 0px;
	background: transparent url("icons/delete.svg") no-repeat center center;
	background-size: contain;
	cursor: pointer;
}

.tasks .task button.save {
	float: right;
	margin: 4px;
	width: 24px;
	height: 24px;
	font-size: 0px;
	border: 0px;
	background: transparent url("icons/save.svg") no-repeat center center;
	background-size: contain;
	cursor: pointer;
}

#areaSelector {
	float: right;
}
